<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fbtool</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.36c8aa029d15c0643e7a.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.f2e03bf501ea6831e084.js" defer></script><script src="polyfills.6d2ac48cc9927890d908.js" defer></script><script src="scripts.c4c155fcd63d2bd4d4c6.js" defer></script><script src="main.109f134d5f4ffbe32ba1.js" defer></script></body>
</html>
